
<section id="battlefield">
  <% if (level == 1) { %>
  <form action="/duel" method="post">
    <input type="hidden" name="leave" id="leave" value="false" />
    <input type="submit" id="leave-btn" value="Leave Battlefield" />
  </form>
  <% } %>

  <h1>THE BATTLEFIELD</h1>

  <div id="new-user"></div>

  <div id="connected">
    <% users.forEach(function(user) { %>
    <div class="conn-user">
      <form action="/duel" method="post">
        <input type="hidden" class="current-level" name="level" value="<%=level%>" />
        <input type="hidden" class="your-power" name="yourPower" value="<%=power%>" />
        <input type="hidden" class="conn-power" name="connPower" value="<%=user.local.power%>" />
        <input type="hidden" class="conn-username" name="username" value="<%=user.local.username%>" />
        <input type="submit" class="duel-user <%=user.local.color%>" value="" />
      <a href="/users/<%=user.local.username%>" class="link-<%=user.local.color%>">@<%= user.local.username %></a>
      </form>
    </div>
    <% }); %>
  </div>

  <!-- still need this info if there are no users -->
  <input type="hidden" id="current-username" value="<%=username%>" />
  <input type="hidden" class="current-level" name="level" value="<%=level%>" />
  <input type="hidden" class="your-power" name="yourPower" value="<%=power%>" />
</section>
