<section id="dwelling" class="<%=team%>">
  <div class="sky-<%=team%>">
    <div id="dwelling-<%=level%>">
      <div class="<%=team%>"></div>
    </div>
  </div>
</section>

<section class="user-info">
  <div class="avatar level<%=level%>">
    <img src="/img/peeps/<%=gender%>.png" class="avatar-part" />
    <img src="/img/peeps/<%=gender%>-<%=color%>.png" class="avatar-part" />
    <% if (level == 2) { %>
    <img src="/img/peeps/<%=gender%>-crown.png" class="avatar-part">
    <% } %>
  </div>
</section>

<% if (level == 2) { %>
<div class="cover <%=team%>"></div>
<% } %>

<section class="dragon-info">
  <div class="dragon level<%=level%> <%=team%>">
    <img src="/img/dragons/<%=color%>.png" class="dragon-part" />
    <h4><%=dragon%></h4>
  </div>
</section>

<div class="username level<%=level%>">
  <h1>@<%= username %></h1>
</div>
