<section id="dwelling" class="<%=team%>">
  <div id="dwelling-main">
    <div class="<%=team%>"></div>
  </div>
</section>

<section id="user-info">
  <div class="avatar">
    <img src="/img/peeps/<%=gender%>.png" class="head" />
    <img src="/img/peeps/<%=gender%>-<%=color%>.png" class="dress" />
  </div>
  <div class="username">
    <h1>@<%= username %></h1>
  </div>

</section>
